<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form method="post" action="/register">
      <input type="text" name="Name" placeholder="Enter your Name" /><br />
      <input type="text" name="Email" placeholder="Enter your Email" /><br />
      <input
        type="password"
        name="password"
        placeholder="Enter your Password"
      /><br />
      <input
        type="text"
        name="initialBalance"
        placeholder="Enter your Budget"
      /><br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
